*{
    margin: 0;
    box-sizing: border-box;
}

#page-wrapper{
    width: 90vw;
    margin: 0 auto;

}
header {
    padding: 2%;
    background-color: red;
}

#nav-main{
    display: flex;
    flex-direction: row;
    width: 100%;
}

nav {
    background-color: black;
    width: 20%;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    border: calc(2px + 1vh) solid maroon;
    display: flex;
    height: 17vh;
}

nav ul li a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10%;
}

nav ul li a h3{
    font-size: calc(5px + 2vw);
    text-align: center;
}
main{
    background-color: grey;
    width: 80%;
}

main h1 {
    text-align: center;
}

main h3 {
    text-align: center;
}

img {
    height: calc(2px + 50vh);
    width: calc(2px + 30vw);
    margin: 0 auto;
    display: block;
    border: 10px solid saddlebrown;
}
p{
    font: bold 25px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding: 10px;
    text-align: center;
}

#education_list{
    font: bold 25px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding: 1%;
    margin: 5%;
}

#courses {
    padding: 1%;
    margin: 5%;
}

#skills_list{
    font: bold 25px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding: 1%;
    margin: 5%;
}
#coding_languages {
    padding: 1%;
    margin: 5%;

}
#tools {
    padding: 1%;
    margin: 5%;

}

#frameworks {
    padding: 1%;
    margin: 5%;

}

#databases {
    padding: 1%;
    margin: 5%;

}
#languages {
    padding: 1%;
    margin: 5%;
}
#hobby_list{
    font: bold 25px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding: 1%;
    margin: 5%;
}
#tech {
    padding: 1%;
    margin: 5%;
}
#fitness {
    padding: 1%;
    margin: 5%;
}
#sports {
    padding: 1%;
    margin: 5%;
}
#misc {
    padding: 1%;
    margin: 5%;
}

.title {
    padding: 2%;
    font: bold 30px "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align: center;
}

.post{
    padding: 0;
    font: bold 25px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.points {
    margin: 1%;
    font: bold 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

footer {
    background-color: red;
    color: black;
    text-align: center;
}

.calculator {
    width: 90%;
    margin: 40px auto;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.calculator h2 {
    margin-bottom: 20px;
    font-size: calc(18px + 1vw);
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.inputs input {
    padding: 10px;
    border-radius: 8px;
    border: solid 2px black;
    font-size: calc(12px + 0.5vw);
    text-align: center;
    height: calc(10px + 2vw);
}

.buttons {
    display: flex;
    flex-wrap: wrap; /* I went to flexbox documentation and learnt how to align items in a grid because I wanted my buttons
                     to be structured like that*/
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.buttons button {
    flex: 40%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: calc(14px + 0.5vw);
    cursor: pointer;
    background: royalblue;
    color: white;
}

.buttons button:hover {
    background: dodgerblue;
}

#clear {
    background: dimgray;
}
#clear:hover {
    background: red;
}

#output {
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: bold;
    height: calc(10px + 2vw);
    font-size: calc(12px + 0.5vw);
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
    background: white;
    color: black;
    text-align: center;
}
@media screen and (max-width: 750px) {
    header{
        text-align: center;
    }
    #nav-main{
        display: flex;
        flex-direction: column;
    }
    nav {
        width: 100%;
    }
    main{
        width: 100%;
        height: 150vh;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    nav ul li{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 10px solid maroon;
        height: 6vh;
    }
    nav ul li a h3{
        font-size: calc(2px + 2vw);
    }

    img {
        height: calc(2px + 40vh);
        width: calc(2px + 50vw);
        margin: 0 auto;
        display: block;
    }
    .calculator {
        padding: 15px;
    }

    .buttons button {
        flex: 1 1 45%;
        font-size: calc(12px + 1vw);
    }
}


