*{
    margin: 0;
    box-sizing: border-box;
}

#page-wrapper{
    width: 90vw;
    margin: 0 auto;

}
header {
    padding: 2%;
    background-color: red;
}

#nav-main{
    display: flex;
    flex-direction: row;
    width: 100%;
}

nav {
    background-color: black;
    width: 20%;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    border: calc(2px + 1vh) solid maroon;
    display: flex;
    height: 17vh;
}

nav ul li a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10%;
}

nav ul li a h3{
    font-size: calc(5px + 2vw);
    text-align: center;
}
main{
    background-color: grey;
    width: 80%;
}

main h1 {
    text-align: center;
}

main h3 {
    text-align: center;
}

img {
    height: calc(2px + 50vh);
    width: calc(2px + 30vw);
    margin: 0 auto;
    display: block;
}
p{
    font: bold 25px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding: 10px;
    text-align: center;
}

#education_list{
    font: bold 25px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding: 1%;
    margin: 5%;
}

#courses {
    padding: 1%;
    margin: 5%;
}

.title {
    padding: 2%;
    font: bold 30px "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align: center;
}

.post{
    padding: 0;
    font: bold 25px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.points {
    margin: 1%;
    font: bold 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

footer {
    background-color: red;
    color: black;
    text-align: center;
}
@media screen and (max-width: 750px) {
    header{
        text-align: center;
    }
    #nav-main{
        display: flex;
        flex-direction: column;
    }
    nav {
        width: 100%;
    }
    main{
        width: 100%;
        height: 150vh;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    nav ul li{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 10px solid maroon;
        height: 6vh;
    }
    nav ul li a h3{
        font-size: calc(2px + 2vw);
    }

    img {
        height: calc(2px + 40vh);
        width: calc(2px + 50vw);
        margin: 0 auto;
        display: block;
    }
}


