*{
    margin: 0;
    box-sizing: border-box;
}

#page-wrapper{
    width: 90vw;
    margin: 0 auto;
}
header {
    padding: 2%;
    background-color: red;
}

#nav-main{
    display: flex;
    flex-direction: row;
    width: 100%;
}

nav {
    background-color: black;
    width: 20%;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {

}

nav ul li a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10%;
}

main{
    background-color: grey;
    width: 80%;
}

img {
    height: 400px;
    width: 300px;
}
p{
    font: bold 25px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding: 10px;
}

#education_list{
    font: bold 25px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding: 3%;
}

#courses {
    padding: 1%;
}

footer {
    background-color: red;
    color: black;
    text-align: center;
}
@media screen and (max-width: 750px) {
    header{
        align-items: center;
    }
    #nav-main{
        display: flex;
        flex-direction: column;
    }
    nav {
        width: 100%;
    }
    main{
        width: 100%;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}


