*{
    margin: 0;
    box-sizing: border-box;
}

#page-wrapper{
    width: 90vw;
    margin: 0 auto;

}
header {
    padding: 2%;
    background-color: crimson;
    font:bold calc(2px + 2vh) "Roboto Slab", sans-serif;
    text-align: left;
}

#nav-main{
    display: flex;
    flex-direction: row;
    width: 100%;
    font: bold calc(2px + 2vh) "Roboto Slab", sans-serif;
}

nav {
    background-color: black;
    width: 30%;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    border: calc(2px + 1vh) solid lightsalmon;
    display: flex;
    height: 17vh;
}

nav ul li a {
    color: lightgray;
    text-decoration: none;
    text-align: center;
    padding: 10%;
}

nav ul li a h3{
    font-size: calc(5px + 2vw);
    text-align: center;
}
main{
    background-color: lightgray;
    width: 70%;
    padding: 20px 0;
}

main h1 {
    text-align: center;
    font-family: "Roboto Slab", sans-serif;
}

main h3 {
    text-align: center;
}

img {
    height: calc(2px + 50vh);
    width: calc(2px + 25vw);
    margin: 2% auto;
    display: block;
    border: 10px solid black;
}
p{
    font: bold calc(2px + 3vh) "Roboto Slab", sans-serif;
    padding: 10px;
}

#desc {
    border: 2px solid black;
    background-color: lightsalmon;
    width: 80%;
    margin: 2% auto;
    text-align: center;
}

#education_list{
    font: bold calc(2px + 2vh) "Roboto Slab", sans-serif;
    background-color: lightsalmon;
    border-radius: 15px;
    padding: 25px;
    margin: 25px auto;
    width: 85%;
    border: 2px solid black;
    font-weight: normal;
    font-size: calc(14px + 0.5vw);
    line-height: 1.6;
    text-align: center;
    list-style: none;
}
#education_list li {
    font: bold calc(2px + 3vh) "Roboto Slab", sans-serif;
    padding: 10px;
    border: 2px solid black;
    margin: 25px auto;
    border-radius: 10px;
}

#bu {
    background-color: lightsalmon;
    width: 60%;
    margin: 10px auto;
    padding: 10px;
    border: 2px solid black;
    border-radius: 12px;
    text-align: center;
}
#degree {
    background-color: lightsalmon;
    width: 60%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 12px;
    border: 2px solid black;
    text-align: center;
}
#gpa{
    background-color: lightblue;
}
#awards{
    background-color: lightblue;
}

#courses {
    list-style: none;
    padding: 0;
    margin: 10px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    width: 90%;
}
#courses li {
    background-color: white;
    color: black;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: calc(12px + 0.4vw);
    text-align: center;
    font-family: "Roboto Slab", sans-serif;
}
#courses li:hover {
    background-color: lightcyan;
    cursor: pointer;
}
#coursework{
    background-color: lightblue;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
    list-style: none;
}

#skills_list{
    font: bold calc(2px + 3vh) "Roboto Slab", sans-serif;
    padding: 1%;
    margin: 5%;
    list-style: none;
    justify-items: center;
    text-align: center;
}
.area{
    border: 2px solid black;
    width: 80%;
    border-radius: 10px;
    background-color: lightsalmon;
    margin: 5%;
}
#coding_languages, #tools, #frameworks, #databases, #languages, #tech, #fitness, #sports, #misc {
    padding: 1%;
    margin: 5%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}
#coding_languages li, #tools li, #frameworks li, #databases li, #languages li, #tech li, #fitness li, #sports li, #misc li{
    background-color: lightblue;
    border-radius: 10px;
    border: 2px solid black;
    width: 75%;
}

#hobby_list{
    font: bold calc(2px + 3vh) "Roboto Slab", sans-serif;
    padding: 1%;
    margin: 5%;
    list-style: none;
    justify-items: center;
    text-align: center;
}

.type{
    border: 2px solid black;
    width: 80%;
    border-radius: 10px;
    background-color: lightsalmon;
    margin: 5%;

}

#exp{
    justify-items: center;
}
.title {
    padding: 2%;
    font: bold calc(2px + 3.7vh) "Roboto Slab", sans-serif;
    text-align: center;
    border: 5px solid black;
    background-color: lightsalmon;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
    width: 80%;
}

.post{
    padding: 0;
    font: bold calc(2px + 3vh) "Roboto Slab", sans-serif;
    border: 5px solid black;
    border-radius: 8px;
    background-color: lightskyblue;
    margin: 2%;
    width: 50%;
}
.points {
    margin: 1%;
    font: bold calc(2px + 2.2vh) "Roboto Slab", sans-serif;
    text-align: center;
    list-style: none;
    padding: 1%;
}
.points li {
    color: black;
    padding: 1%;
    margin: 1%;
}

footer {
    background-color: crimson;
    color: black;
    text-align: center;
    font: bold calc(2px + 2vh) "Roboto Slab", sans-serif;
}


#calculator {
    text-align: center;
    color: black;
    font-family: "Orbitron", sans-serif;
    margin: 1%;
}

label{
    font-family: 'Orbitron', sans-serif;
}
input{
    font-family: 'Orbitron', sans-serif;
}
#output{
    font-family: 'Orbitron', sans-serif;
}
.calculator h2 {
    margin-bottom: 20px;
    font-size: calc(18px + 1vw);
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.inputs input {
    padding: 10px;
    border-radius: 8px;
    border: solid 2px black;
    font-size: calc(12px + 0.5vw);
    text-align: center;
    height: calc(10px + 2vw);
}

.buttons {
    display: flex;
    flex-wrap: wrap; /* I went to flexbox documentation and learnt how to align items in a grid because I wanted my buttons
                     to be structured like that*/
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.buttons button {
    flex: 40%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: calc(14px + 0.5vw);
    cursor: pointer;
    background: royalblue;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

.buttons button:hover {
    background: dodgerblue;
}

#clear {
    background: dimgray;
}
#clear:hover {
    background: red;
}

#output {
    font-weight: bold;
    height: calc(10px + 3vw);
    font-size: calc(12px + 1vw);
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
    background: white;
    color: black;
    text-align: center;
}
@media screen and (max-width: 750px) {
    header{
        text-align: center;
    }
    #nav-main{
        display: flex;
        flex-direction: column;

    }
    nav {
        width: 100%;
    }
    main{
        width: 100%;
        height: 200vh;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    nav ul li{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 10px solid maroon;
        height: 6vh;
    }
    nav ul li a h3{
        font-size: calc(2px + 2vw);
    }

    img {
        height: calc(2px + 40vh);
        width: calc(2px + 50vw);
        margin: 0 auto;
        display: block;
    }
    .calculator {
        padding: 15px;
    }

    .buttons button {
        flex: 45%;
        font-size: calc(12px + 1vw);
    }
    #output{
        height: calc(12px + 3vw);
        font-size: calc(12px + 0.5vw);
    }
}


